
<nav  class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavDropdown" class="navbar-collapse collapse sidebar" [ngClass]="toggleMenuBar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="toggleMenu()">CRM</a>
      </li>
    </ul>
      <ul class="navbar-nav">
         <li class="nav-item">
              <a class="nav-link" (click)="toggleMenu()">Home</a>
          </li>
         <li class="nav-item">
              <a class="nav-link" (click)="toggleMenu()">Login</a>
         </li>
      </ul>
  </div>
</nav><br>
<!-- <div style="text-align:center">
        <input type="file" (change)="uploadingfile($event)" placeholder="Upload file" accept=".xlsx">
        <button type="button" class="btn btn-info" (click)="Upload()" >Upload</button>
</div>
<div class="row">
    <div class="col-md-3 text-center"><strong>Name</strong></div>
    <div class="col-md-3 text-center"><strong>Phone</strong></div>
    <div class="col-md-3 text-center"><strong>Address</strong></div>
    <div class="col-md-3 text-center"><strong>Email</strong></div>
</div>
<div class="row border-bottom" *ngFor="let data of newCustomer">
        <div class="col-md-3 text-center">{{data.name}}</div>
        <div class="col-md-3 text-center">{{data.phone}}</div>
        <div class="col-md-3 text-center">{{data.address}}</div>
        <div class="col-md-3 text-center">{{data.email}}</div>
</div>
<a>Hello</a>       -->