<form [formGroup]="accessForm" class="p-3" novalidate style="padding-top:60px; padding-bottom:60px" (ngSubmit)="sendPermission(accessForm)">
  <div fxLayout="row">
    <div fxFlex="30%">
      <mat-form-field class="example-full-width">
        <input matInput
        placeholder="User Type"
         formControlName="userType">
      </mat-form-field>
    </div>
    <div fxFlex="30%">
  
      </div>
    <div fxFlex="30%">
      <mat-form-field class="example-full-width">
        <input matInput
        placeholder="Date"
         formControlName="currentDate">
      </mat-form-field>
    </div>
  </div>
  <div class="pb-3 text-secondary" fxLayout="row">
    <div fxFlex="25%">DB Name</div>
    <div fxFlex="15%">Add</div>
    <div fxFlex="15%">Edit</div>
    <div fxFlex="15%">Delete</div>
    <div fxFlex="15%">Sms</div>
    <div fxFlex="15%">Email</div>
  </div>
  <div formGroupName="b2bCustomer" class="pb-3" fxLayout="row">
    <div fxFlex="25%">B2B Customer</div>
    <div fxFlex="15%">
      <mat-checkbox formControlName="addPermission" class="mail-checkbox">
      </mat-checkbox>
    </div>
    <div fxFlex="15%">
      <mat-checkbox formControlName="editPermission" class="mail-checkbox">
      </mat-checkbox>
    </div>
    <div fxFlex="15%">
      <mat-checkbox formControlName="deletePermission" class="mail-checkbox">
      </mat-checkbox>
    </div>
    <div fxFlex="15%">
      <mat-checkbox formControlName="smsPermission" class="mail-checkbox">
      </mat-checkbox>
    </div>
    <div fxFlex="15%">
      <mat-checkbox formControlName="emailPermission" class="mail-checkbox">
      </mat-checkbox>
    </div>
  </div>
  <div formGroupName="b2cMarket" class="pb-3" fxLayout="row">
    <div fxFlex="25%">B2C Market</div>
    <div fxFlex="15%">
      <mat-checkbox formControlName="addPermission" class="mail-checkbox">
      </mat-checkbox>
    </div>
    <div fxFlex="15%">
      <mat-checkbox formControlName="editPermission" class="mail-checkbox">
      </mat-checkbox>
    </div>
    <div fxFlex="15%">
      <mat-checkbox formControlName="deletePermission" class="mail-checkbox">
      </mat-checkbox>
    </div>
    <div fxFlex="15%">
      <mat-checkbox formControlName="smsPermission" class="mail-checkbox">
      </mat-checkbox>
    </div>
    <div fxFlex="15%">
      <mat-checkbox 
      formControlName="emailPermission" class="mail-checkbox">
      </mat-checkbox>
    </div>
  </div>
  <div class="text-center"><h5>Menu List</h5></div>
  <div class="pb-3 text-secondary" fxLayout="row">
      <div fxFlex="25%">B2BCustomer</div>
      <div fxFlex="15%">B2CMarket</div>
      <div fxFlex="15%">SMS menu</div>
      <div fxFlex="15%">Email menu</div>
      <div fxFlex="15%">upload</div>
      <div fxFlex="15%">Backup</div>
    </div>
  <div formGroupName="menuList" class="pb-3" fxLayout="row">
      <div fxFlex="25%">
        <mat-checkbox
         formControlName="b2bCustomerPermission"
          class="mail-checkbox">
        </mat-checkbox>
      </div>
      <div fxFlex="15%">
        <mat-checkbox 
        formControlName="b2cMarketPermission"
         class="mail-checkbox">
        </mat-checkbox>
      </div>
      <div fxFlex="15%">
        <mat-checkbox 
        formControlName="smsMenuPermission"
         class="mail-checkbox">
        </mat-checkbox>
      </div>
      <div fxFlex="15%">
          <mat-checkbox 
          formControlName="emailMenuPermission"
           class="mail-checkbox">
          </mat-checkbox>
        </div>
      <div fxFlex="15%">
        <mat-checkbox 
        formControlName="uploadPermission"
         class="mail-checkbox">
        </mat-checkbox>
      </div>
      <div fxFlex="15%">
        <mat-checkbox 
        formControlName="backupPermission"
         class="mail-checkbox">
        </mat-checkbox>
      </div>
    </div>
  <button mat-raised-button color="accent">Submit</button>
</form>