<div class=" col-sm-12 d-flex border-dark p-3 flex-row">
  <div class=" col-sm-2 col">
    <button mat-raised-button
    [routerLinkActive]="['activeLink']"
     (click)="getAllB2bCustomer()">
      B2B Customers</button>
  </div>
  <div class="col-sm-1 col">
  </div>
  <div class="col-sm-2  col"  [routerLinkActive]="['activeLink']">
    <button mat-raised-button
   
      (click)="getAllB2cMarketCustomer()">B2C Market</button>
  </div>
  <div class="col-sm-7 col">
  </div>
</div>
<div class="col-sm-12">
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <div class=" col-sm-12 d-flex border-dark  flex-row">
        <div class=" col-sm-4 col">
          <strong>MOBILE NUMBER</strong>
        </div>
        <div class="col-sm-4 col">
          <strong>CUSTOMER NAME</strong>
        </div>
        <div class="col-sm-4 col">
          <strong>LOCATION</strong>
        </div>
      </div><br>
      <ng-template matStepLabel>Mobile Numbers</ng-template>

      <div class=" col-sm-12 d-flex  flex-row">
        <div class="col-sm-4">
          <mat-checkbox [checked]="selectCheckbox" (change)="selectAllMobileNumber($event, newCustomer)" class="inbox-toggle-all mr-1"><b>ALL</b>
          </mat-checkbox>
        </div>
      </div>
      <div>
        <mat-form-field class="margin-333" style="width: 100%">
          <input matInput placeholder="Type to filter all columns" (keyup)='updateFilter($event)'>
        </mat-form-field>
        <div *ngFor="let edit of dataSource;  let i = index" class="col-sm-12 d-flex   flex-row">
          <div class=" col-sm-4 col">
            <mat-checkbox [checked]="selectCheckbox" name="{{edit.mobileNumber}}" value="{{edit.mobileNumber}}"
              (change)="selectedMobileNumber($event, edit.mobileNumber)" class="mail-checkbox"> {{edit.mobileNumber}}</mat-checkbox>
          </div>
          <div class="col-sm-4 col">
            {{edit.customerName}}
          </div>
          <div class="col-sm-4 col">
            {{edit.location}}
          </div>
          <!-- <div class="col-sm-2 col">
                        {{edit.email}}
                    </div> -->

        </div><br>
        <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"
          [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
        </mat-paginator>
      </div>
      <div>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <form [formGroup]="b2cMarketDetailsForm" (ngSubmit)="sendSms(b2cMarketDetailsForm)">
        <ng-template matStepLabel>Message</ng-template>
        <label for="comment">Select Message</label>
        <div class="row">
          <div class="col-md-5">
            <div class="card col-sm-12" *ngFor="let template of messageTemplates; let i = index">
              <mat-checkbox [checked]="selected === i" (change)="selected = i" (change)="setNameValue($event, template)"
                class="inbox-toggle-all mr-1"><b>{{template}}</b></mat-checkbox>
            </div><br>
          </div>
          <div class="col-md-2">

          </div>
          <div class="card col-md-5">
            <label for="comment">Text Message:</label>
            <textarea class="form-control" formControlName="message" rows="5" required></textarea><br>
            <div *ngIf="showMessage" class="alert alert-danger">
              <div>Please enter Message</div>
            </div>
            <div *ngIf="showMobileNumber" class="alert alert-danger">
              <div>Please enter Mobile Number</div>
            </div>
            <button mat-raised-button color="primary">
              SMS sent
            </button>
          </div>
        </div>
        <br>
        <div fxLayout="row">
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>