.mat-horizontal-stepper-header .mat-stepper-horizontal-line {
    border-top-width: 1px;
    border-top-style: solid;
    flex: none !important;
    height: 0;
    margin: 0 -16px;
    min-width: 32px;
}
.active
{
    background-color: purple;
}
.activeLink
{
 background-color: #6610f2;
 color: #ffff;
}