<!-- <form [formGroup]="customerDetailsForm">
  <div class="row" style="text-align:center" style="margin-top:10px">
    <div class="col-md-2">
      <div class="col-md-2 text-center"><button mat-raised-button color="primary" (click)="getAllCustomer()">All
          Customer</button></div><br>
 -->
<!--</div>
     <div class="col-md-8">
      <div class="col-md-2 text-center"></div><br>
      <div style="text-align:center">
        <input type="file" (change)="uploadingfile($event)" placeholder="Upload file" accept=".xlsx">
        <button type="button" mat-raised-button color="primary" (click)="Upload()">Upload</button>
      </div>
    </div> -->
<!--</div>
   <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 text-center"><strong>Name</strong></div>
    <div class="col-md-2 text-center"><strong>Phone</strong></div>
    <div class="col-md-2 text-center"><strong>Address</strong></div>
    <div class="col-md-2 text-center"><strong>Email</strong></div>
  </div>
  <div *ngFor="let edit of newCustomer; let i = index;">

    <div class="row" *ngIf="!edit.editing">
      <div class="col-md-1"></div>
      <div class="col-md-1"><input type="checkbox" [value]="edit.phone" (change)="selectedMobileNumber($event.target.value)" /></div>
      <div class="col-md-1 text-center">{{edit.name}}</div>
      <div class="col-md-2 text-center">{{edit.phone}}</div>
      <div class="col-md-2 text-center">{{edit.address}}</div>
      <div class="col-md-1"><input type="checkbox" [value]="edit.email" (change)="selectedEmail($event.target.value)" /></div>
      <div class="col-md-2 text-center">{{edit.email}}</div>
      <div class="col-md-2 text-center">
        <input type="button" class="btn btn-success" value="Edit" (click)="editCustomer(edit)"></div>
    </div><br>
    <div class="row" *ngIf="edit.editing">
      <div class="col-md-2 text-center"><input class="form-control" hidden type="text" formControlName="_id" [value]="edit._id" /></div>
      <div class="col-md-1 text-center"><input class="form-control" type="text" formControlName="name" [ngModel]="edit.name"
          (ngModelChange)="edit.name=$event" /></div>
      <div class="col-md-2 text-center"><input class="form-control" type="text" formControlName="phone" [ngModel]="edit.phone"
          (ngModelChange)="edit.phone=$event" /></div>
      <div class="col-md-2 text-center"><input class="form-control" type="text" formControlName="address" [ngModel]="edit.address"
          (ngModelChange)="edit.address=$event" /></div>
      <div class="col-md-2 text-center"><input class="form-control" type="text" formControlName="email" [ngModel]="edit.email"
          (ngModelChange)="edit.email=$event" /></div>
      <div class="col-md-1 text-center"><input type="button" class="btn btn-success" value="Update" (click)="update(customerDetailsForm, edit)"></div>
      <div class="col-md-1 text-center"><input type="button" class="btn btn-success" value="Delete" (click)="delete(customerDetailsForm, edit)"></div>
      <div class="col-md-1 text-center"><input type="button" class="btn btn-success" value="Cancel" (click)="cancel(edit)"></div>
    </div><br>
  </div>
  <div class="row">
    <div class="col-md-2 text-center">

    </div>
    <div class="col-md-4 form-group">
      <form [formGroup]="customerDetailsForm" (ngSubmit)="sendSms(customerDetailsForm)">
        <label for="comment">Send Message:</label>
        <textarea class="form-control" formControlName="message" rows="5"></textarea><br>
        <button mat-raised-button color="primary">
          SMS sent
        </button>
      </form>
      <div *ngIf="smsCompleted">

        <div class="center">
          <p>
            <b>All SMS sent</b>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 form-group">
      <form [formGroup]="customerDetailsForm" (ngSubmit)="sendEmail(customerDetailsForm)">
        <label for="comment">Email Message:</label>
        <textarea class="form-control" formControlName="emailMessage" rows="5"></textarea><br>
        <button mat-raised-button color="primary">
          Email sent
        </button>
      </form>
      <div *ngIf="emailCompleted">

        <div class="center">
          <p>
            <b>All Email sent</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</form>
<br>
<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
    <span fxFlex></span>
    <button mat-raised-button class="mb-05" color="primary">Add Member</button>
  </div>
</div>

<!-- <div class="row">
    <div class="col-md-2 text-center">
      <button class="btn btn-success " (click)="shareWhatsapp()">
        SHARE
      </button>
    </div>
    <div class="col-md-2 text-center">

      <button class="btn btn-primary " (click)="postFacebook()">
        facebook
      </button>
    </div>
  </div> -->
<!--Check Box-->
<!-- <div class="row" *ngFor="let mn of customerMobileNumbers; let i = index;">
    <div class="col-md-2"></div>
    <div class="col-md-2"><input type="checkbox" class="form-group" [value]="mn.mobile" (change)="addSelectedMobileNumber($event.target.value)" /></div>
    <div class="col-md-2">{{mn.mobile}}</div>
  </div> -->

<!-- <div class="container">
    <a href="'https://api.whatsapp.com/send?phone=919965437973&text=welcome%20to%20CRM%20'">Hello,
      world!</a>
  </div>
 -->
<form [formGroup]="customerDetailsForm">
  <div class="breadcrumb-title border-bottom">
    <div class="col-md-2 text-center"><button mat-raised-button color="primary" (click)="getAllCustomer()">All
        Customer</button></div>
    <div class="col-md-2 text-center"><button mat-raised-button color="primary" (click)="duplicateCustomerData()">Duplicate
        Customer</button></div>
  </div><br>
  <div class="card">
    <ngx-datatable class="material pl-5 ml-0 mr-0" [rows]="newCustomer" [columnMode]="'flex'" [headerHeight]="50"
      [footerHeight]="50" [draggable]="false" [limit]="10" [rowHeight]="'auto'">
      <ngx-datatable-column [sortable]="false" [draggable]="false" name="CUSTOMER NAME" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.customerName}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" [draggable]="false" name="MOBILE NUMBER" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.mobileNumber}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" [draggable]="false" name="ADDRESS" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.location}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" [draggable]="false" name="EMAIL" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.email}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" [draggable]="false" name="EDIT" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button mat-icon-button mat-sm-button color="primary" (click)="editCustomer(customerDetailsForm, row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button mat-sm-button color="accent" (click)="delete(customerDetailsForm, row)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <!-- <div *ngFor="let edit of newCustomer; let i = index;">
    <div *ngIf="edit.editing">
        <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput class="form-control" formControlName="name" [ngModel]="edit.name" (ngModelChange)="edit.name=$event"
                placeholder="Name">
            </mat-form-field>
          </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput class="form-control" formControlName="phone" [ngModel]="edit.phone" (ngModelChange)="edit.phone=$event"
            placeholder="phone">
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput class="form-control" formControlName="address" [ngModel]="edit.address" (ngModelChange)="edit.address=$event"
            name="phone" placeholder="Phone">
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput class="form-control" formControlName="email" [ngModel]="edit.email" (ngModelChange)="edit.email=$event"
            name="address" placeholder="email">
        </mat-form-field>
      </div>

      <div fxFlex="100" class="mt-1">
        <button mat-raised-button color="primary" 
        (click)="update(customerDetailsForm, edit)"
        >Save</button>
        <span fxFlex></span>
        <button mat-button color="warn" type="button" (click)="cancel(edit)">Cancel</button>
      </div>
    </div>
    </div> -->
</form>