<!-- Navigation -->
<div   class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar [ngClass]="headerSideService.menuTransparent" color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span flex></span>
    <button (click)="logout()" mat-icon-button>
      <small>Logout</small>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav [ngClass]="headerSideService.menuTransparent " #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">

      <mat-nav-list>
        <div id="scroll-area" class="navigation-hold" fxLayout="column">
          <div class="sidenav-hold">
            <ul class="sidenav" *ngFor="let item of menuItems">
              <li>
                <div [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                  true}"
                  [routerLink]="['/customers']">
                  <a matRipple class="nav-item-sep" *ngIf="item.type === 'bcustomer'">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span>{{item.name}}</span>
                    <span fxFlex></span>
                  </a>
                </div>
              </li>
              <li>
                <div [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                  true}"
                  routerLink="/b2cmarket">
                  <a matRipple class="nav-item-sep" *ngIf="item.type === 'cmarket'">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span>{{item.name}}</span>
                    <span fxFlex></span>
                  </a>
                </div>
              </li>
             <!--  <li>
                <div [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                  true}">
                  <a matRipple *ngIf="item.type === 'ccustomer'">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span class="item-name">{{item.name}}</span>
                    <span fxFlex></span>
                  </a>
                </div>
              </li> -->
              <!-- <li>
                <div [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                  true}">
                  <a matRipple *ngIf="item.type === 'bmarket'">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span class="item-name">{{item.name}}</span>
                    <span fxFlex></span>
                  </a>
                </div>
              </li> -->
             <!--  <li>
                <div [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                  true}">
                  <a matRipple *ngIf="item.type === 'employee'">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span class="item-name">{{item.name}}</span>
                    <span fxFlex></span>
                  </a>
                </div>
              </li> -->
             <!--  <li>
                <div [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                  true}">
                  <a matRipple *ngIf="item.type === 'vendor'">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span class="item-name">{{item.name}}</span>
                    <span fxFlex></span>
                  </a>
                </div>
              </li> -->
             <li>
                <div [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                  true}"
                  routerLink="/sms">
                  <a matRipple *ngIf="item.type === 'link'">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span class="item-name">{{item.name}}</span>
                    <span fxFlex></span>
                  </a>
                </div>
              </li> 
              <li>
                <div [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                  true}"
                  routerLink="/email">
                  <a matRipple *ngIf="item.type === 'dropDown'">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span class="item-name">{{item.name}}</span>
                    <span fxFlex></span>
                  </a>
                </div>
              </li>
              <li>
                <div [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                  true}"
                  [routerLink]="['/register']">
                  <a matRipple *ngIf="item.type === 'user'">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span class="item-name">{{item.name}}</span>
                    <span fxFlex></span>
                  </a>
                </div>
              </li>
              <li>
                <div [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                  true}"
                  routerLink="/upload">
                  <a matRipple *ngIf="item.type === 'upload'">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span class="item-name">{{item.name}}</span>
                    <span fxFlex></span>
                  </a>
                </div>
              </li>
              <li>
                <div [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                  true}">
                  <a matRipple *ngIf="item.type === 'backup'">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span class="item-name">{{item.name}}</span>
                    <span fxFlex></span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>